nav ul li{
	float:left;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	background-color: #999;
}

nav ul li a{
	text-decoration:none;
	color:black;
}

nav ul  > li:hover { 
	background: red;
	color:black;
}

nav ul li > ul{
	position: absolute;
	float: left;
    clear: left;
    display: none;
	width: 10px;
	padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li > ul li{
	position: relative;
	float: left;
    clear: left;
    width: 50px;
    height: 20px;
    background: #999;
}

nav ul li > ul li > ul{
	float: left;
    clear: left;
    width: 50px;
    height: 20px;
	padding-left: 42px;
    background: #999;
}


nav ul li:hover > ul{
	display: inline;
}

.clear{
	clear:both;
}