#content{
	width:100%;
}

#header h1{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

ul li {
	float:left;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

ul li img:hover{
	border:1px solid #0000ff;
}

.clear{
	clear:both;
}