<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Internet_Programing/src/org/elsysbg/courses/ip/sockets/intro/SimpleEchoClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.elsysbg.courses.ip.sockets.intro.SimpleEchoClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Internet_Programing"/>
</launchConfiguration>
