body{
	padding-left:1%;
	padding-right:1%;
	background-color: white;
	height:100%;
}

header{
	background-color:blue;
	width: 100%;
}

#content{
	width:100%;
}

#left{
	float:left;
	background-color:red;
	width: 29%;
	margin-right:1%;
}

#right{
	float:right;
	background-color:green;
	width: 70%;
}

footer{
    background-color: #999;
    width:100%;
}

.clear {
    clear: both;
}